@if(gate.array === '1' ||gate.array === '2' ){
<div class="flap__container">
  @if(gate?.direction?.isEntry ){
  <div
    class="flap__entry"
    [ngClass]="{
      flap__error: gate?.status?.hasError,
      'flap__com-break': gate?.status?.hasCommunicationBreak
    }"
  >
    @if ( gate?.status?.hasError ) {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/error.json',
  loop: true,
  autoplay: true,}"
      [width]="25"
      [height]="25"
    ></app-lottie-animation>
    } @else if (gate?.status?.hasCommunicationBreak){
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/com-break.json',
  loop: true,
  autoplay: true,}"
    ></app-lottie-animation>
    } @else {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/walking.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
    ></app-lottie-animation>

    }
  </div>
  } @if(gate?.direction?.isExit){
  <div
    class="flap__exit"
    [ngClass]="{
      flap__error: gate?.status?.hasError,
      'flap__com-break': gate?.status?.hasCommunicationBreak
    }"
  >
    @if ( gate?.status?.hasError ) {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/error.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
    ></app-lottie-animation>
    }@else if (gate?.status?.hasCommunicationBreak){
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/com-break.json',
    loop: true,
    autoplay: true,}"
    ></app-lottie-animation>
    }@else {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/walking.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
      [isReverse]="true"
    ></app-lottie-animation>
    }
  </div>
  }
</div>
} @if(gate.array === '3' ||gate.array === '4' ){
<div class="flap__container">
  @if(gate?.direction?.isExit){
  <div
    class="flap__exit"
    [ngClass]="{
      flap__error: gate?.status?.hasError,
      'flap__com-break': gate?.status?.hasCommunicationBreak
    }"
  >
    @if ( gate?.status?.hasError ) {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/error.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
    ></app-lottie-animation>
    }@else if (gate?.status?.hasCommunicationBreak){
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/com-break.json',
      loop: true,
      autoplay: true,}"
    ></app-lottie-animation>
    }@else {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/walking.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
    ></app-lottie-animation>
    }
  </div>
  } @if(gate?.direction?.isEntry ){
  <div
    class="flap__entry"
    [ngClass]="{
      flap__error: gate?.status?.hasError,
      'flap__com-break': gate?.status?.hasCommunicationBreak
    }"
  >
    @if ( gate?.status?.hasError ) {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/error.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
    ></app-lottie-animation>
    }@else if (gate?.status?.hasCommunicationBreak){
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/com-break.json',
      loop: true,
      autoplay: true,}"
    ></app-lottie-animation>
    }@else {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/walking.json',
    loop: true,
    autoplay: true,}"
      [width]="25"
      [height]="25"
      [isReverse]="true"
    ></app-lottie-animation>
    }
  </div>
  }
</div>
}
