.home {
  height: 100vh;
//  border: 1px solid rgba(0, 0, 0, 0.5);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F8FA;
    //padding: 8px;
  }

  &__logo{
    margin-right: auto;
    height: 120px;  
    aspect-ratio: 1;
  }

  &__icons {
    display: flex;
    gap:1em;
    color:#938a8a;
  }

  &__chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em;
    place-content: center;
    margin-left: 2em;
  }

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;;
    margin: 10px;  
    width: 250px; 
    border: 1px solid #e8dfdf;
    border-radius: 8px;    
    background-color:#fff; 
    mat-icon {
      margin-right: 18px;
    } 
   
  }

  &__side-customise {
    height: 50vh;
    border-radius: 20px;
    border: 1px solid rgb(185, 177, 177); 
    background-color: #F7F8FA;
    margin-left: 20px;
  }

  &__submenu-panel {
    border-radius: 10px; 
   // overflow: hidden;
    margin: 10px; 
    padding-left:0;
    mat-icon {
      margin-right: 18px;
    }
  }

}
