<div class="home__container">
  <img src="../../assets/img/cmr.png" alt="Logo" class="home__logo" />
  <div class="home__icons">
    <mat-icon fontIcon="group"></mat-icon>
    <mat-icon
      fontIcon="power_settings_new
    "
    ></mat-icon>
  </div>
</div>
<mat-drawer-container class="home" autosize>
  <mat-drawer mode="side" class="home__side-customise" opened>
    @for(item of menuItems; track item.label ) { @if(!item?.submenu?.length) {
    <mat-list-item class="home__menu-button" [routerLink]="['/item.route']">
      <mat-icon [style.color]="item.color">{{ item.icon }}</mat-icon>
      <span [style.color]="item.color">{{ item.label }}</span>
    </mat-list-item>
    } @if(item?.submenu?.length){
    <mat-expansion-panel class="home__submenu-panel">
      <mat-expansion-panel-header>
        <mat-panel-title [routerLink]="[item.route]">
          <mat-icon [style.color]="item.color">{{ item.icon }}</mat-icon>
          <span [style.color]="item.color"> {{ item.label }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for(submenu of item.submenu; track submenu.label ){
        <mat-list-item [routerLink]="[submenu.route]">
          <mat-icon [style.color]="submenu.color">{{ submenu.icon }}</mat-icon>
          <span [style.color]="submenu.color">{{ submenu.label }}</span>
        </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>
    } }
  </mat-drawer>
  <div class="home__chart-container">
    @for (chart of barChartList; track chart.chartType) {
    <app-bar-chart-container [chartData]="chart"></app-bar-chart-container>
    }
    <app-gauge-chart-contaienr
      [chartData]="gaugeChartList"
    ></app-gauge-chart-contaienr>
    <app-pie-chart-container
      [chartData]="pieChartList"
    ></app-pie-chart-container>
  </div>
</mat-drawer-container>
