.home {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);

  &__sidenav-content {
    height: 100%;
  }

  &__sidenav {
    padding: 20px;
  }

  &__chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em;
    place-content: center;
    margin: 2em;
  }

  &__menu-button {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 0 20px;  
    width: 300px; 
    height: 60px;
   
    mat-icon {
      margin-right: 8px;
    }
  }

  &__side-customise {
    height: 50vh;
    border-radius: 20px;
    border: 1px solid rgb(136, 130, 130); 
    background-color: #f7f8fa;
    margin: 20px;
  }

  &__icon-label-container {
    display: flex;
    align-items: center; 
  }
}
