.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    //padding: 8px;
  }

  &__logo {
    margin-right: auto;
    margin-left: 1em;
    height: 100px;
    aspect-ratio: 1;
  }

  &__icons {
    display: flex;
    gap: 1em;
    color: #938a8a;
    margin: 1em;
  }
}

.home {
  height: 100vh;
  &__chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em;
    place-content: center;
    margin: 0 1em 1em 2em;
  }

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 250px;
    border: 1px solid #e8dfdf;
    border-radius: 8px;
    background-color: #fff;
    mat-icon {
      margin-right: 18px;
    }
  }

  &__side-customise {
    height: 70vh;
    border-radius: 20px;
    border: 1px solid rgb(185, 177, 177);
    background-color: var(--background-color);
    margin-left: 20px;
  }

  &__submenu-panel {
    border-radius: 10px;
    // overflow: hidden;
    margin: 10px;
    padding-left: 0;
    mat-icon {
      margin-right: 18px;
    }
  }

  .active {
    background-color: var(--blue800);
  }
}
