<div class="users">
  <mat-card class="users__card">
    <div class="users__title-wrapper">
      <fa-icon [icon]="getIcon('group')">group</fa-icon>
      <app-page-title title="Users"></app-page-title>
    </div>
  </mat-card>

  <!-- =========== -->

  <mat-card class="users__card-table">
    <mat-card-content>
      <app-table
        [tableData]="myTableData"
        [actions]="actionItems"
        [sortCols]="sortCols"
        (addItemClicked)="addUser()"
        (onActionClick)="actionClicked($event)"
      ></app-table>
    </mat-card-content>
  </mat-card>
</div>
