<mat-card class="monitoring">
  <div class="monitoring__wrapper">
    @if (tom1Data.length) {
    <app-tom-room-layout [tomRoomData]="tom1Data"></app-tom-room-layout>
    }

    <div>
      <app-automatic-gate [gateData]="array1Data"></app-automatic-gate>
      <app-scr-efo-room-layout
        [scrEfoRoomData]="scrData"
      ></app-scr-efo-room-layout>
      <app-automatic-gate [gateData]="array2Data"></app-automatic-gate>
    </div>
    <div>
      <app-automatic-gate [gateData]="array3Data"></app-automatic-gate>
      <app-scr-efo-room-layout
        [scrEfoRoomData]="efoData"
      ></app-scr-efo-room-layout>
      <app-automatic-gate [gateData]="array4Data"></app-automatic-gate>
    </div>
    @if (tom2Data.length) {
    <app-tom-room-layout [tomRoomData]="tom2Data"></app-tom-room-layout>
    }
  </div>
</mat-card>
