<mat-card class="card">
  <mat-card-content class="card__description">
    <p class="card__description__title">Entry Traffic</p>
    <p class="card__description__number">200</p>
    <p class="card__description__bottom-title">All Stations</p>
  </mat-card-content>
  <mat-card-content class="card__chart">
    <div class="card__btn-container">
      <button class="card__btn" mat-mini-fab aria-label="View Detailed Chart">
        <mat-icon>outmore-horiz</mat-icon>
      </button>
    </div>
    <app-bar-chart></app-bar-chart>
    <p class="card__bottom-text">Last 6 Months</p>
  </mat-card-content>
</mat-card>
