<!-- <h2 mat-dialog-title>{{ tableData.id }}</h2>
<mat-dialog-content class="mat-typography">
    <form>
      <div *ngFor="let item of tableData | keyvalue" class="outer-container">
        <app-input-text [label]="item.key.toString()"></app-input-text>
      </div>
      <button (click)="btnClick()">Submit</button>
    </form>

  </mat-dialog-content> -->

  <div class="dailog">
       
          <h2 mat-dialog-title>{{ tableData.id }}</h2>
          <form class="outer-container">
            <div *ngFor="let item of tableData | keyvalue" >
              <app-input-text [label]="item.key.toString()"></app-input-text>
            </div>
            <!-- <button (click)="btnClick()">Submit</button> -->
            <app-button-field></app-button-field>
          </form>

  </div>
