@if (chartData?.type === 'bar' && chartData?.title === title) {
<mat-card class="card">
  <mat-card-header
    class="card__header"
    [style.color]="chartData?.style?.color"
    >{{ chartData?.title }}</mat-card-header
  >
  <mat-card-content class="card__content">
    <app-bar-chart
      [chartData]="chartData"
      [showXAxis]="true"
      [showYAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="chartData?.xAxisLabel"
      [yAxisLabel]="chartData?.yAxisLabel"
      [gradient]="true"
      [view]="[600, 300]"
    ></app-bar-chart>
  </mat-card-content>
</mat-card>
} @if (chartData?.type === 'gauge' && chartData?.title === title) {
<mat-card class="card">
  <mat-card-header
    class="card__header"
    [style.color]="chartData?.style?.titleColor"
    >{{ chartData?.title }}</mat-card-header
  >
  <mat-card-content>
    <app-gauge-chart
      [chartData]="chartData"
      [view]="[600, 400]"
      [showAxis]="true"
      [showLegend]="true"
      [showText]="true"
      [units]="'&#8377;'"
    ></app-gauge-chart>
  </mat-card-content>
</mat-card>
}
