<mat-card class="card">
  <mat-card-content class="card__description">
    <p class="card__description__title">{{ chartData?.title }}</p>
    <p class="card__description__number card__description__number-cash">
      {{ chartData?.data[0]?.displayValue }}
    </p>
    <p
      class="card__description__bottom-title card__description__bottom-title-cash"
    >
      {{ chartData?.data[0]?.name }}
    </p>
  </mat-card-content>
  <mat-card-content class="card__chart">
    <app-gauge-chart [chartData]="chartData"></app-gauge-chart>
    <mat-card
      class="card__total-container"
      [style.background-color]="chartData?.style?.totalTextBackgroundColor"
      [style.box-shadow]="
        '0 2px 1px -1px ' +
        chartData?.style?.totalTextBackgroundColor +
        ', 0 1px 1px 0 ' +
        chartData?.style?.totalTextBackgroundColor +
        ',0 1px 3px 0 ' +
        chartData?.style?.totalTextColor
      "
    >
      <mat-card-content
        class="card__total-content"
        [style.color]="chartData?.style?.totalTextColor"
        >{{ chartData?.total }}</mat-card-content
      >
    </mat-card>
  </mat-card-content>

  <mat-card-content class="card__description">
    <div class="card__btn-container">
      <button
        class="card__btn"
        mat-mini-fab
        aria-label="View Detailed Chart"
        (click)="openGraphDetail()"
      >
        <fa-icon [icon]="getIcon('dots')"></fa-icon>
      </button>
    </div>
    <p class="card__description__number card__description__number-non-cash">
      {{ chartData?.data[1]?.displayValue }}
    </p>
    <p
      class="card__description__bottom-title card__description__bottom-title-non-cash"
    >
      {{ chartData?.data[1]?.name }}
    </p>
  </mat-card-content>
</mat-card>
