<div class="wrapper">
  <mat-card class="monitoring">
    <div class="monitoring__zoom" appMouseEventsOnMap>
      <img
        src="../../assets/img/metro-map.svg"
        alt="map"
        class="monitoring__map"
      />
      @for (btn of purpleLineData; track $index) {
      <button
        class="monitoring__btn"
        mat-mini-fab
        aria-label="Example icon button with a menu icon"
        [ngStyle]="{
            top: btn?.top + 'px',
            bottom: btn?.bottom + 'px',
            left: btn?.left + 'px',
            right: btn?.right + 'px',
          }"
          [style.background]="btn.isActive ? btn.color : '#bec7d6'"
        [routerLink]="btn?.stationId"
      >
        <img src="../../assets/img/location.svg" alt="" />
      </button>
      }

      @for (btn of redLineData; track $index) {
        <button
          class="monitoring__btn"
          mat-mini-fab
          aria-label="Example icon button with a menu icon"
          [ngStyle]="{
              top: btn?.top + 'px',
              bottom: btn?.bottom + 'px',
              left: btn?.left + 'px',
              right: btn?.right + 'px',
            }"
            [style.background]="btn.isActive ? btn?.color : '#bec7d6'"
          [routerLink]="btn?.stationId"
        >
          <img src="../../assets/img/location.svg" alt="" />
        </button>
        }

        @for (btn of  OrangeLineData; track $index) {
          <button
            class="monitoring__btn"
            mat-mini-fab
            aria-label="Example icon button with a menu icon"
            [ngStyle]="{
                top: btn?.top + 'px',
                bottom: btn?.bottom + 'px',
                left: btn?.left + 'px',
                right: btn?.right + 'px',
              }"
              [style.background]="btn.isActive ? btn?.color : '#bec7d6'"
            [routerLink]="btn?.stationId"
          >
            <img src="../../assets/img/location.svg" alt="" />
          </button>
          }
          @for (btn of  BlueLineData; track $index) {
            <button
              class="monitoring__btn"
              mat-mini-fab
              aria-label="Example icon button with a menu icon"
              [ngStyle]="{
                  top: btn?.top + 'px',
                  bottom: btn?.bottom + 'px',
                  left: btn?.left + 'px',
                  right: btn?.right + 'px',
                }"
                [style.background]="btn.isActive ? btn?.color : '#bec7d6'"
              [routerLink]="btn?.stationId"
            >
              <img src="../../assets/img/location.svg" alt="" />
            </button>
            }
            @for (btn of GreenLineData; track $index) {
              <button
                class="monitoring__btn"
                mat-mini-fab
                aria-label="Example icon button with a menu icon"
                [ngStyle]="{
                    top: btn?.top + 'px',
                    bottom: btn?.bottom + 'px',
                    left: btn?.left + 'px',
                    right: btn?.right + 'px',
                  }"
                  [style.background]="btn.isActive ? btn?.color : '#bec7d6'"
                [routerLink]="btn?.stationId"
              >
                <img src="../../assets/img/location.svg" alt="" />
              </button>
              }
    </div>
  </mat-card>
</div>
