<div class="tvm">
  <p class="tvm__type">{{ equipmentData?.type | uppercase }}</p>
  <div class="tvm__img-container">
    @if (equipmentData?.status?.hasCommunicationBreak) {
    <img
      src="../../assets/img/tvm-comm-break.svg"
      alt="tvm inservice"
      class="tvm__image"
    />
    }@else if (equipmentData?.status?.hasError){
    <img
      src="../../assets/img/tvm-out-of-service.svg"
      alt="tvm inservice"
      class="tvm__image"
    />
    }@else {
    <img
      src="../../assets/img/tvm-in-service.svg"
      alt="tvm inservice"
      class="tvm__image"
    />
    }
  </div>
  <p class="tvm__id">{{ equipmentData?.equipmentId }}</p>

  <div
    class="tvm__animation"
    [ngClass]="{
      'tvm__animation-com-break': equipmentData?.status?.hasCommunicationBreak
    }"
  >
    @if (equipmentData?.status?.hasCommunicationBreak) {
    <app-lottie-animation
      [width]="35"
      [height]="35"
      [options]="{ path: '../../assets/lottie-files/com-break.json',
  loop: true,
  autoplay: true,}"
    ></app-lottie-animation>
    }@else if (equipmentData?.status?.hasError ) {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/error.json',
  loop: true,
  autoplay: true,}"
    ></app-lottie-animation>
    }@else {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/in-service.json',
  loop: true,
  autoplay: true,}"
    ></app-lottie-animation>
    }
  </div>
</div>
