@use "../../scss//util" as *;
.tvm {
  //   border: 2px solid var(--black);
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__img-container {
    width: 100px;
    height: 150px;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__animation {
    position: absolute;
    top: 30px;
    left: 55px;
    &-com-break {
      top: 25px;
    }
  }
  &__id,
  &__type {
    font-size: toRem(14);
  }
}
