<div class="stations">
  <mat-card class="stations__card">
    <div class="stations__title-wrapper">
      <fa-icon [icon]="getIcon('tram')">tram</fa-icon>
      <app-page-title title="Stations"></app-page-title>
    </div>
  </mat-card>

  <!-- =========== -->

  <mat-card class="stations__card-table">
    <mat-card-content>
      <app-table [tableData]="myTableData" [actions]="actionItems"[sortCols]="sortCols" [fileName]="fileName" [columnsToExport]="columnsToExport" [formParameters]="formParameters"></app-table>
    </mat-card-content>
  </mat-card>
</div>
