<mat-card class="card">
  <mat-card-content class="card__description">
    <p class="card__description__title">{{ chartData?.title }}</p>
    <p
      class="card__description__number"
      [style.color]="chartData?.style?.color"
    >
      {{ chartData?.value }}
    </p>
    <p class="card__description__bottom-title">{{ chartData?.bottomTitle }}</p>
  </mat-card-content>
  <mat-card-content
    class="card__chart"
    [style.background-color]="chartData?.style?.backgroundColor"
  >
    <div class="card__btn-container">
      <button
        class="card__btn"
        mat-mini-fab
        aria-label="View Detailed Chart"
        (click)="openGraphDetail()"
      >
        <fa-icon [icon]="getIcon('dots')"></fa-icon>
      </button>
    </div>
    <app-bar-chart [chartData]="chartData"></app-bar-chart>
    <p class="card__bottom-text" [style.color]="chartData?.style?.color">
      {{ chartData?.duration }}
    </p>
  </mat-card-content>
</mat-card>
