<div class="scr-efo-room">
  <p class="scr-efo-room__title">
    {{ scrEfoRoomData[0]?.location | uppercase }} Room
  </p>

  <div class="scr-efo-room__wrapper">
    @for (equipment of scrEfoRoomData; track $index) { @if (equipment?.type ===
    'efo') {
    <app-tom [equipmentData]="equipment"></app-tom>
    }@else if (equipment?.type === 'tr') {
    <app-tr [equipmentData]="equipment"> </app-tr>
    } } @if (scrEfoRoomData[0]?.location ==='scr') {
    <div class="scr-efo-room__icon-container">
      <img
        class="scr-efo-room__icon"
        src="../../../assets/img/marker.svg"
        alt="Man"
      />

      <img
        src="../../../assets/img/you-are-here.svg"
        alt="You are Here"
        class="scr-efo-room__info"
      />

      <div class="scr-efo-room__animation">
        <app-lottie-animation
          [options]="{ path: '../../assets/lottie-files/location.json',
      loop: true,
      autoplay: true,}"
          [width]="100"
          [height]="100"
        ></app-lottie-animation>
      </div>
    </div>
    }
  </div>
</div>
