@use "../../../scss/util" as *;
.scr-efo-room {
  //   width: var(--gate-array-width);
  margin: 1em;

  &__title {
    text-align: center;
    font-size: toRem(14);
    font-weight: bold;
  }
  &__wrapper {
    border: 1px solid var(--black);
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
