<div class="scr-efo-room">
  <p class="scr-efo-room__title">
    {{ scrEfoRoomData[0]?.location | uppercase }} Room
  </p>

  <div class="scr-efo-room__wrapper">
    @for (equipment of scrEfoRoomData; track $index) { @if (equipment?.type ===
    'efo') {
    <app-tom [equipmentData]="equipment"></app-tom>
    }@else if (equipment?.type === 'tr') {
    <app-tr [equipmentData]="equipment"> </app-tr>
    } } @if (scrEfoRoomData[0]?.location ==='scr') {
    <p style="text-align: center">
      You <br />
      are <br />
      Here
    </p>
    }
  </div>
</div>
