<div class="privileges">
  <mat-card class="privileges__card">
    <div class="privileges__title-wrapper">
      <fa-icon [icon]="getIcon('privileges')">privileges</fa-icon>
      <app-page-title title="Privileges"></app-page-title>
    </div>
  </mat-card>

  <!-- =========== -->

  <mat-card class="privileges__card-table">
    <mat-card-content>
      <app-table
        [tableData]="myTableData"
        [actions]="actionItems"
        [sortCols]="sortCols"
        [fileName]="fileName" 
        [columnsToExport]="columnsToExport"
        [formParameters]="formParameters"
      ></app-table>
    </mat-card-content>
  </mat-card>
</div>
