<div class="login">
  <div class="login__logo-container">
    <p class="login__text">Chennai Metro Rail</p>
    <img
      src="../../assets/img/Chennai_Metro_logo.png"
      alt="Logo"
      class="login__logo"
    />
  </div>
  <div class="login__form-container">
    <p class="login__title">Sign-in</p>
    <div class="login__input-container">
      <app-input placeholder="User ID"></app-input>
    </div>
    <div class="login__input-container">
      <app-input placeholder="Password" type="password"></app-input>
    </div>
    <button mat-raised-button color="primary" class="login__btn">Login</button>
  </div>
</div>
