
<div class="model">
  <div class="model__dailog">
    <form class="model__outer-container">
      <div *ngFor="let item of tableData | keyvalue">
        <app-input-text [label]="item.key.toString()" [value] = "item.value.toString()"></app-input-text>
      </div>
    </form>
    <div class="model__btn-container">
      <app-button-field
      mat-dialog-close
        class="model__cancel-btn"
        type="button"
        backgroundColor="#fff"
        color="#3361ff"
        label="Cancel"
        [width]="8"
        [height]="2.5"
      ></app-button-field>
      <app-button-field
        label="Save"
        [width]="8"
        [height]="2.5"
      ></app-button-field>
    </div>
  </div>
</div>
