<div class="Adjustment">
    <mat-card class="Adjustment__card">
        <div class="Adjustment__title-wrapper">
          <fa-icon [icon]="getIcon('CircleExclamation')">map</fa-icon>
          <app-page-title title="Adjustments"></app-page-title>
        </div>
    </mat-card>

    <mat-card class="Adjustment__card-table">
        <mat-card-content>
          <app-table [tableData]="myTableData"
          [actions]="actions"
          [sortCols]="sortCols" [fileName]="fileName" 
          [columnsToExport]="columnsToExport" 
          [formParameters]="formParameters" 
          ></app-table>
        </mat-card-content>
      </mat-card>

</div>
