<div class="tr">
  <p class="tr__type">{{ equipmentData?.type | uppercase }}</p>
  <div class="tr__img-container">
    @if (equipmentData?.status?.hasCommunicationBreak) {
    <img src="../../assets/img/tr-comm-break.svg" alt="TR" class="tr__image" />
    }@else if (equipmentData?.status?.hasError){
    <img
      src="../../assets/img/tr-out-of-service.svg"
      alt="TR"
      class="tr__image"
    />
    }@else {
    <img src="../../assets/img/tr-in-service.svg" alt="TR" class="tr__image" />
    }
    <div
      class="tr__animation"
      [ngClass]="{
        'tr__animation-com-break': equipmentData?.status?.hasCommunicationBreak
      }"
    >
      @if (equipmentData?.status?.hasCommunicationBreak) {
      <app-lottie-animation
        [width]="25"
        [height]="25"
        [options]="{ path: '../../assets/lottie-files/com-break.json',
    loop: true,
    autoplay: true,}"
      ></app-lottie-animation>
      }@else if (equipmentData?.status?.hasError ) {
      <app-lottie-animation
        [width]="20"
        [height]="20"
        [options]="{ path: '../../assets/lottie-files/error.json',
    loop: true,
    autoplay: true,}"
      ></app-lottie-animation>
      }@else {

      <app-lottie-animation
        [width]="20"
        [height]="20"
        [options]="{ path: '../../assets/lottie-files/in-service.json',
    loop: true,
    autoplay: true,}"
      ></app-lottie-animation>
      }
    </div>
  </div>
  <p class="tr__id">{{ equipmentData?.equipmentId }}</p>
</div>
