@for (gate of gateData; track $index) {
<div style="display: flex">
  <div class="gate">
    @if ($index ===0) {
    <app-gate-cabinate></app-gate-cabinate>
    }@else {
    <app-gate-cabinate
      [screenLocation]="gate.screenLocation"
    ></app-gate-cabinate>
    }
    <app-gate-direction [gate]="gate"></app-gate-direction>
    @if ($index === gateData.length-1) {
    <app-gate-cabinate
      [screenLocation]="{
        isEntrySide: true
      }"
    ></app-gate-cabinate>
    }
  </div>
  <div style="margin-top: 29px; margin-left: 5px">{{ gate.equipmentId }}</div>
</div>

}
