.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
  }

  &__logo {
    margin-right: auto;
    margin-left: 1em;
    height: 60px;
    aspect-ratio: 1;
  }

  &__icons {
    display: flex;
    gap: 1em;
    color: var(--text-color2);
    margin: 1em;
  }
}
