.fab {
  &__btn {
    border-radius: 16px !important;
    width: 56px;
    height: 56px;
  }
  &__downlod-btn {
    background-color: var(--green50);
    &__color {
      color: var(--green800) !important;
    }
  }

  &__add-btn {
    background-color: var(--orange50);
    &__color {
      color: var(--orange800) !important;
    }
  }

  &__menu-content {
    color: var(--blue800);
  }
}

::ng-deep .mat-mdc-menu-panel {
  border-radius: 0.5em !important;
}
