
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  margin-right: 10px; 
}

.example-button-container button {
 // background-color: rgb(228, 238, 228);
  border-radius: 16px; 
  width: 56px; 
  height: 56px; 
}

.example-button-container button:hover {
  background-color: rgb(228, 238, 228); 
}

.menu-content{
  color: var(--blue800);
  border: 1px ;
  border-radius: 2em;;
}

