<div class="tom">
  <p class="tom__type">{{ equipmentData?.type | uppercase }}</p>
  <div class="tom__img-container">
    @if (equipmentData?.status?.hasCommunicationBreak) {
    <img
      src="../../assets/img/tom-comm-break.svg"
      alt="tom"
      class="tom__image"
    />
    } @else if (equipmentData?.status?.hasError) {
    <img
      src="../../assets/img/tom-out-of-service.svg"
      alt="tom"
      class="tom__image"
    />
    }@else {
    <img
      src="../../assets/img/tom-in-service.svg"
      alt="tom"
      class="tom__image"
    />
    }
  </div>
  <p class="tom__id">{{ equipmentData?.equipmentId }}</p>
  <div
    class="tom__animation"
    [ngClass]="{
      'tom__animation-com-break': equipmentData?.status?.hasCommunicationBreak
    }"
  >
    @if (equipmentData?.status?.hasCommunicationBreak) {
    <app-lottie-animation
      [width]="40"
      [height]="40"
      [options]="{ path: '../../assets/lottie-files/com-break.json',
      loop: true,
      autoplay: true,}"
    ></app-lottie-animation>
    } @else if (equipmentData?.status?.hasError){
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/error.json',
    loop: true,
    autoplay: true,}"
    ></app-lottie-animation>
    }@else {
    <app-lottie-animation
      [options]="{ path: '../../assets/lottie-files/in-service.json',
    loop: true,
    autoplay: true,}"
    ></app-lottie-animation>
    }
  </div>
</div>
