<div class="Penalty">
    <mat-card class="Penalty__card">
      <div class="Penalty__title-wrapper">
        <fa-icon [icon]="getIcon('eye')">map</fa-icon>
        <app-page-title title="Over Stay Configuration"></app-page-title>
      </div>
    </mat-card>
     
    <mat-card class="Penalty__card-table">
      <mat-card-content>
        <app-table [tableData]="myTableData"
        [actions]="actions"
        [sortCols]="sortCols" [fileName]="fileName" 
        [columnsToExport]="columnsToExport" 
        [formParameters]="formParameters" 
        ></app-table>
      </mat-card-content>
    </mat-card>
</div>



