.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1em;
  overflow: hidden;

  &__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
      color: var(--text-color1);
    }

    &__number {
      font-size: 1.5em;
      font-weight: bold;
      &-cash {
        color: var(--orange800);
      }

      &-non-cash {
        color: var(--blue800);
      }
    }

    &__bottom-title {
      font-weight: 700;
      &-cash {
        padding-bottom: 1em;
        color: var(--orange800);
      }
      &-non-cash {
        color: var(--blue800);
        text-align: center;
      }
    }
  }

  &__chart {
    flex: 1;
    position: relative;
  }

  &__total-container {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 70px;
    background-color: var(--green50);
  }

  &__total-content {
    font-weight: 700;
    color: var(--green800);
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
  }
  &__btn {
    background-color: var(--white);
    color: var(--text-color1);
  }
}

mat-card:is([class*="card__total-container"]) {
  box-shadow: 0 2px 1px -1px var(--green50), 0 1px 1px 0 var(--green50),
    0 1px 3px 0 var(--green800);
}
