<div class="lines">
  <mat-card class="lines__card">
    <div class="lines__title-wrapper">
      <fa-icon [icon]="getIcon('tune')">tune</fa-icon>
      <app-page-title title="Lines"></app-page-title>
    </div>
  </mat-card>

  <!-- =========== -->

  <mat-card class="lines__card-table">
    <mat-card-content>
 <app-table [tableData]="myTableData" [actions]="actionItems" [sortCols]="sortCols" [fileName]="fileName" [columnsToExport]="columnsToExport" [formParameters]="formParameters"
      ></app-table>
    </mat-card-content>
  </mat-card>
</div>
