<div class="dense-2">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      [placeholder]="placeholder"
      aria-label="Number"
      [formControl]="control"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-icon matSuffix>expand_more</mat-icon>
    <mat-autocomplete
      #auto
      [displayWith]="displayWith.bind(this)"
      (optionSelected)="onSelectionChange($event)"
    >
      @if(filteredListData?.length){ @for(item of filteredListData;track item){
      <mat-option [value]="item.value">
        {{ item.name }}
      </mat-option>
      } } @if(!filteredListData?.length){
      <mat-option> No Data Found </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
