.search-box {
  height: 50px;
}

.search-box input[type="text"] {
  width: 250px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 12px;
  box-sizing: border-box;
  border-radius: 2em;
  border: 2px solid #dfeaf2;
  background-color: #f5f7fa;
}
