<div class="Surcharge">
    <mat-card class="Surcharge__card">
        <div class="Surcharge__title-wrapper">
          <fa-icon [icon]="getIcon('Clipboard')">map</fa-icon>
          <app-page-title title="Surcharge"></app-page-title>
        </div>
      </mat-card>

      <mat-card class="Surcharge__card-table">
        <mat-card-content>
          <app-table [tableData]="myTableData"
          [actions]="actions"
          [sortCols]="sortCols" 
          [fileName]="fileName" 
          [columnsToExport]="columnsToExport" 
          [formParameters]="formParameters" 
          ></app-table>
        </mat-card-content>
      </mat-card>

</div>
