@for(data of tableData;track data){
<div class="table">
  <div class="table__table-container">
    <table
      mat-table
      [dataSource]="data.dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Define table columns dynamically based on data structure -->
      @for (column of data.displayedColumns; track $index) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table__header-wrapper">
            <span> {{ column }}</span>
            <span mat-sort-header *ngIf="sortCols.includes(column)"></span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          @if(column !== 'Status'){
          {{ element[column] }}
          } @else {
          <div [ngStyle]="getStatusStyle(element['Status'])">
            {{ element["Status"] }}
          </div>
          }
        </td>
      </ng-container>
      }

      <!-- Define header and row definitions -->
      @if(actions.length){
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="table__action-icon-wrapper"
        >
          <div
            *ngIf="actions.includes('update')"
            mat-icon-button
            class="table__action-icons"
          >
            <fa-icon
              class="table__edit-icon"
              aria-label="Edit"
              [icon]="getIcon('edit')"
              >edit</fa-icon
            >
          </div>
          <div
            *ngIf="actions.includes('delete')"
            mat-icon-button
            class="table__action-icons"
          >
            <fa-icon class="table__delete-icon" [icon]="getIcon('delete')"
              >delete</fa-icon
            >
          </div>
        </td>
      </ng-container>
      } @if(actions.length){
      <tr
        mat-header-row
        *matHeaderRowDef="data.displayedColumns.concat('actions'); sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: data.displayedColumns.concat('actions')"
      ></tr>
      } @else if(actions.length ===0){
      <tr
        mat-header-row
        *matHeaderRowDef="data.displayedColumns; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: data.displayedColumns"></tr>
      }
    </table>
  </div>

  <!-- Add paginator if needed -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [pageSize]="5"
    [length]="data.dataSource.data.length"
  >
  </mat-paginator>
</div>
}
