:root {
  --blue800:#3361FF;
  --blue500:#8833ff
  --blue50:#F0F3FF;

  --twitter-blue500:#33BFFF;
  --twitter-blue400:#6AD2FF;

  --green800:#128822;
  --green500:#29CC39;
  --green50:#F4FCF5;

  --orange800:#FF6633;
  --orange50:#FFF7F5;

  --yellow500:#FECA33;

  --background-color:#F7F8FA;

  --text-color1:#bec7d6;

  --white:#fff;
  --black:#000;

 --gradient-color1: #004a87;
 --gradient-color2: #063d72;
 --gradient-color3: #08305d;
 --gradient-color4: #07244a;
 --gradient-color5:#051937;

 --background-gradient:linear-gradient(
  to top,
  var(--gradient-color1),
  var(--gradient-color2),
  var(--gradient-color3),
  var(--gradient-color4),
  var(--gradient-color3)
);

 --logo-gradient: linear-gradient(
  to left top,
  var(--gradient-color1),
  var(--gradient-color2),
  var(--gradient-color3),
  var(--gradient-color4),
  var(--gradient-color5)
);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: var(--dark-bg);
//     --text-color: var(--dark-text2);
//     --text-color2: var(--dark-text1);
//     --card-bg: var(--dark-card);
//     --card-hover: var(--dark-card-hover);
//     --toggle: var(--light-bg);
//     --toggle-bg: linear-gradient(
//       225deg,
//       var(--toggle-bg-end) 0%,
//       var(--toggle-bg-start) 98.02%
//     );
//     --toggle-button: var(--dark-bg);
//   }
// }

// body.light {
//   --background: var(--light-bg);
//   --text-color: var(--light-text2);
//   --text-color2: var(--light-text1);
//   --card-bg: var(--light-card);
//   --card-hover: var(--light-card-hover);
//   --toggle: var(--toggle-light);
//   --toggle-bg: var(--toggle-bg-light);
//   --toggle-button: var(--toggle-button-light);
// }

// body.dark {
//   --background: var(--dark-bg);
//   --text-color: var(--dark-text2);
//   --text-color2: var(--dark-text1);
//   --card-bg: var(--dark-card);
//   --card-hover: var(--dark-card-hover);
//   --toggle: var(--light-bg);
//   --toggle-bg: linear-gradient(
//     225deg,
//     var(--toggle-bg-end) 0%,
//     var(--toggle-bg-start) 98.02%
//   );
//   --toggle-button: var(--dark-bg);
// }
