.app-button {
 // background-color: var(--blue800) !important;
 // color: #fff !important;
 border:2px solid;
 border-color: var(--blue800);
 border-radius: 8px;
  text-wrap: nowrap;
  font-family:  "Montserrat", Roboto, "Helvetica Neue", sans-serif !important;
  //font-size: toRem(16);

  &__icon {
    padding: 0.1em;
  }
}
